html{ 
    background-color: #0B0D0F;
    font-family: Quantico;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    align-items: center;
}

div {
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: Quantico;
    src: url("../res/fonts/Quantico-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Montserrat;
    src: url("../res/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Pixel;
    src: url("../res/fonts/04B_21__.TTF") format('truetype');
}

#button_container{
    gap: 56px;
    display: flex;
    align-items: center;
}

.button_container_c div {
    font-family: Montserrat;
    font-size: 16px;
}

#navigator {
    height: 88px;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    justify-content:space-between;
    align-items: center;
}

#navigator_title {
    font-size: 28px;
    font-family: Pixel;
    line-height: 30px;
}

.navigator div {
    color: #66C8FF;
}


#navigator_mint_s {
    font-size: 16px;
    font-family: Montserrat;
    border: #66C8FF solid 1px;
    padding: 5px 32px 5px 32px ;
}

.banner_bg_s {
    background: url("../res/imgs/banner_bg.jpg") center center no-repeat;
    background-position-y: 0px;
}

.banner_desc_s {
    align-items: center;
    margin-top: 56px;
    text-align: center;
}

.banner_desc_title_s{
    width: 300px;
    height: 64px;
}

.banner_desc_descs {
    margin-top: 24px;
    font-size: 28px;
    line-height: 34.13px;
    background: linear-gradient(90deg, #66C8FF 0%, #0070D6 96.79%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.tag_container {
    display: flex;
    gap: 8px;
    font-size: 40px;
    align-items: center;
    color: #fff;
}

.tag_container img {
    height: 48px;
    width: 48px;
}

#roadmap_c {
    margin: 100px 120px 0px 120px;
    text-align: center;
}

.roadmap_details_s {
    margin: 48px 0 0 0;
    height: 260px;
    aspect-ratio: 1224/260;
    background: url('../res/imgs/roadmap_details_n.svg') no-repeat;
}


#about_c {
    margin: 100px 120px 0px 120px;
}

.about_details_s {
    display: flex;
    gap: 156px;
    height: 100%;
    margin-top: 24px;
}

.about_details_desc_title_container_s {
    display: flex;
    align-items:center;
    justify-content: left;
}

.about_details_desc_title_s {
    max-height: 72px;
    max-width: 265px;
}

.about_details_desc_container_s {
    position: relative; 
    padding: 40px 80px 40px 80px;
    display: flex;  
    align-items: center;
    max-height: 194px;
    transform: skew(-15deg);
    border: rgba(79, 243, 253, 0.2) solid 1px;

}

.about_details_desc_o_s {
    color: #fff;
    font-size: 24px;
    line-height: 38px;
}

.about_details_desc_text_container_s {
    transform: skew(15deg);
}

#tokenomics_c {
    margin: 100px 120px 0px 120px;
}

#hot_nft_c {
    margin: 100px 120px 0px 120px;
    aspect-ratio: 1200/424;
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.carousel_set{
    margin-top: 40px;
    display: flex;    
    gap: 45px;
    animation: hot_nft_animation 15s linear infinite;
}

.carousel_set_content {
    float: left;
    width: 266px;
    border: #4FF3FD solid 1px;
    padding: 12px 12px 18px 12px;
}

.carousel_set_content img {
    width: 242px;
    height: 242px;
}

.carousel_set_content_name {
    font-size: 18px;
    color: #fff;
}

.carousel_set_content_id {
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
}

.tokenomics_details_container_s {
    display: flex;
    justify-content: space-between;
    gap: 75;
}

.tokenomics_details_desc_s {
    margin: auto;
    margin-left: 0;
}

.tokenomics_details_desc_s p, .carousel_set_content p{
    margin: 0;
    padding: 0;
}

.tokenomics_details_desc_o_s, .tokenomics_details_desc_tr_s {
    font-size: 20px;
    line-height: 28.6px;
}

.tokenomics_details_desc_t_s {
    font-size: 80px;
    color: #64C6FF;
    line-height: 100px;
}

.tokenomics_details_desc_o_s {
    color: #fff;
}

.tokenomics_details_desc_tr_s {
    color: #666666;
}

.tokenomics_details_img_s {
    margin-top: -44px;
    width: 348px;
    height: 358px;
    float: right;
}

#contact_us_c {
    margin-top: 100px;
    text-align: center;
}

.contact_us_s p{
    margin: 0 auto;
    color: #fff;
}

p.contact_us_title {
    font-size: 40px;
    line-height: 57.2px;
}

p.contact_us_desc {
    font-size: 20px;
    line-height: 28.6px;
}

.contact_us_link_s {
    margin-top: 32px;
    gap: 40px;
    display: inline-flex;
}

.contact_us_link_s img {
    width: 64px;
    height: 64px;
}

.sperator_s {
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 88px;
}

.icp_s {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 17.16px;
}

@keyframes hot_nft_animation {
    0% {margin-left: 0px;}
    100% {margin-left:calc(100% - 45px * 5 - 266px * 6);}
}


@media screen and (max-width: 1075px) {

    #navigator {
        height: 64px;
    }

    #navigator_title {
        font-size: 26px;
    }
    
    #button_container {
        display: none;
    }
    .banner_desc_s {
        margin-top: 32px;
    }
    .banner_desc_title_s{
        width: 147px;
        height: 40px;
    }
    .banner_desc_descs {
        margin-top: 12px;
        font-size: 20px;
        line-height: 28.6px;
        margin-left: 22px;
        margin-right: 22px;
    }
    .tag_container {
        font-size: 20px;
    }
    .tag_container img {
        height: 24px;
        width: 24px;
    }
    #roadmap_c {
        margin: 32px 12px 0px 12px;
        align-items: center;
        /* background-color: #fff; */
        align-content: center;
        justify-content: center;
    }
    .roadmap_details_s {
        margin: 32px 0 0 0;
        height: 340px;
        width: 351px;
        background: url('../res/imgs/roadmap_details_mobile.svg') no-repeat;

    }    
    .roadmap_details_container_s {
        display: flex;
        justify-content: center;
    }
    #about_c {
        margin: 48px 12px 0px 12px;
    }
    .about_details_desc_title_container_s {
        display: none;
    }
    .about_details_desc_container_s {
        padding: 16px 20px 16px 20px;
        max-height: 124px;
        left: 16px;
        margin-right: 32px;
        max-width: 343px;
    }
    .about_details_s {
        justify-content: center;
    }    
    .about_details_desc_o_s {
        margin-left: 20px;
        font-size: 16px;
        line-height: 22.8px;
    }
    #tokenomics_c {
        margin: 48px 12px 0px 12px;
    }    
    .tokenomics_details_desc_o_s, .tokenomics_details_desc_tr_s, p.contact_us_desc, .carousel_set_content_name {
        font-size: 16px;
        line-height: 22.8px;
    }
    .tokenomics_details_desc_t_s {
        font-size: 60px;
        line-height: 85.8px;
    }
    .tokenomics_details_container_s {
        flex-direction: column;
        gap: 0;
    }
    .tokenomics_details_img_s {
        margin-top: 0;
    }
    .tokenomics_details_desc_s {
        margin-top: 32px;
    }
    #hot_nft_c {
        margin: 48px 12px 0px 12px;
        /* aspect-ratio: 1200/424; */
    }
    p.contact_us_title {
        font-size: 20px;
        line-height: 28.6px;
    }
    .contact_us_link_s {
        margin-top: 24px;
        gap: 24px;
    }
    .contact_us_link_s img {
        width: 32px;
        height: 32px;
    }
    .sperator_s {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 48px;
    }
    #contact_us_c {
        margin-top: 48px;
    }
    .carousel_set{
        margin-top: 32px; 
        gap: 15px;
        animation: hot_nft_animation 30s linear infinite;
    }
    .carousel_set_content {
        width: 164px;
    }
    
    .carousel_set_content img {
        width: 140px;
        height: 140px;
    }

    @keyframes hot_nft_animation {
        100% {margin-left:calc(100% - 15px * 9 - 164px * 10);}
    }
    
    
}

